[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "lib/freeglut"]
	path = lib/freeglut
	url = https://github.com/dcnieho/FreeGLUT.git
